<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<%if user_signed_in?%>
  <%if current_user.try(:admin?)%>
    <%= link_to 'Edit', edit_product_path(@product) %> |
  <%end%>
<%end%>

<%=button_to("ADD TO CART", new_user_session_path, class: "btn btn-primary")%>
